/*_______________________________TAG SELECTOR_____________________________________________*/
body {
  background-color: #fdcb9e;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
  width: 5%;
}
h1 {
  color: #f57b51;
  text-shadow: 2px 2px 5px black;
}

h3 {
  color: #f57b51;
}

input:hover{
  background-color: #b4f2e1;
}
textarea:hover{
  background-color: #b4f2e1;
}

/*____________________________CLASS SELECTOR_____________________________________________*/

.circular{
  border-radius: 100%;

}


/*_______________________________ID SELECTOR_____________________________________________*/
